apiVersion: apps/v1
kind: Deployment
metadata:
  name: ranchat
  labels:
    app: ranchat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ranchat
  template:
    metadata:
      labels:
        app: ranchat
    spec:
      containers:
      - name: ranchat
        image: quay.io/dlakshma/ranchat:2.6
        imagePullPolicy: IfNotPresent
        env:
        - name: API_URL
          value: '[INSERT_HERE_MODEL_API_URL]'
        - name: API_MODEL
          value: '[INSERT_HERE_MODEL_NAME]'
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: ranchat-secrets
              key: API_KEY
        - name: S3_KEY
          valueFrom:
            secretKeyRef:
              name: ranchat-secrets
              key: S3_KEY
        - name: S3_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: ranchat-secrets
              key: S3_SECRET_ACCESS_KEY
        - name: S3_HOST
          value: '[INSERT_HERE_S3_HOST]'
        - name: S3_BUCKET
          value: '[INSERT_HERE_S3_BUCKET]'
        - name: USE_MYSQL
          value: True
        - name: DB_HOST
          value: 'mysql-service'
        - name: DB_USER
          value: 'root'
        - name: DB_PWD
          value: 'rangenai'
        - name: DB_NAME
          value: 'ran_events'
        - name: FORECAST_AGENT_URL
          value: 'http://forecast-agent:5001/mcp'        
        ports:
        - containerPort: 5000
